body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

#app {
  width: 90%;
}

#main {
  display: flex;
  flex-flow: column;
}

header {
  border-bottom: 1px solid #efefef;
  display: flex;
  height: 100px;
  margin-bottom: 10px;
}

section {
  display: flex;
}

.bag {
  flex-flow: column;
  display: flex;
  margin: 10px 20px;
  width: 200px;
}

.bag div {
  margin: 5px 0;
}
